#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  cursor: default;
}

#overlaytext{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  line-height: normal;
  text-align: center;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: hidden;
  position:fixed;
}

.header {
  background-color: #000;
  color: #888;
  width: 100%;
  height: 46px;
}

.header-image {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  padding: 0px;
  float: left;
  position:relative;
}

.header-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  padding: 15px;
  float: left;
  position:relative;
}

.demo-header-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  float: left;
  padding: 15px;
  position:relative;
}

.my-dock-manager {
  background-color: #F8F8F8;
  clear: both;
}

.solution-window {
	width: 300px;
	height: 200px;
	background-color: #eee;
}

.output-window {
	width: 300px;
	height: 200px;
	background-color: #eee;
}

.properties-window {
	width: 300px;
	height: 200px;
	background-color: #aac;
}

.toolbox-window {
	width: 300px;
	height: 200px;
	background-color: #eee;
}

.editor1-window {
	width: 300px;
	height: 200px;
	background-color: #fff;
}

.editor2-window {
	width: 300px;
	height: 200px;
	background-color: #fff;
}

.outline-window {
	width: 300px;
	height: 200px;
	background-color: #ddd;
}

.state-window {
	width: 300px;
	height: 200px;
	background-color: #edd;
}

.editor-host {
	height: auto; 
	overflow: visible;
}

.activeline {background: #e8f2ff !important;}

#helpicon {
	width: 100%;
	height: 100%;
	cursor: pointer
}
#helpicon:hover {
	color: white;
}